{:deps {org.clojure/clojurescript {:mvn/version "1.10.516"}
        com.bhauman/figwheel-main {:mvn/version "0.2.0"}
        reagent {:mvn/version "0.9.0-SNAPSHOT"}
        cljsjs/material-ui {:mvn/version "4.0.0-0"}
        cljsjs/material-ui-icons {:mvn/version "3.0.1-0"}
        cljsjs/react-motion {:mvn/version "0.5.2-0"}}
 :paths ["src" "target" "resources"]}
